[user]
	email = 66977688+stefanomuraro@users.noreply.github.com
	name = Stefano Muraro
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = nvim
[push]
	autoSetupRemote = true
[diff]
	tool = nvimdiff
[difftool "vscode"]
	cmd = code --wait --diff \"\" \"\"
[difftool]
	prompt = true
